body {
  margin-top: 20px;
}

.link-to-page {
  float: right;
  margin: 0 2px 0 2px;
}

.sidebar-bg-color {
  background-color: rgb(255, 165, 0);
}

.card {
  border: 2px solid #022a2f;
}

.card-title {
  color: #007BFF;
}

.display-color {
  color: #007BFF;
}

.align {
  text-align: center;
}

.color {
  background-color: rgba(255, 255, 255, 0.7);
}

.another-color {
  background-color: rgba(53, 147, 64, 0.84);
}

.jumbotron {
  padding: 20px;
}

.list-group-item {
  border-radius: 5px;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 35px;
}

.error-message {
  color: #ff0000;
}

.logout-message {
  text-align: center;
  font-size: 44px;
  color: #007BFF;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #007BFF;
}

.table {
  margin-top: 20px;
}

.table th {
  background-color: #007BFF;
  color: #fff;
  border: 1px solid #dee2e6;
}

.table td {
  border: 1px solid #dee2e6;
  vertical-align: middle;
}

.me-label {
  font-weight: bold;
  color: #28a745;
  margin-left: 5px;
}
