{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-md-6 form-container text-center">
        <h1 class="text-danger">Delete Position?</h1>
        <p><i>All workers with this position will be deleted as well.</i></p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <input type="submit" value="Yes, delete" class="btn btn-danger">
          </div>
          <a href="{% url 'task:position-list' %}" class="btn btn-primary">Cancel</a>
        </form>
      </div>
    </div>

{% endblock %}
