{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h2>{{ task.name }}</h2>
    <div>
      <a href="{% url 'task:task-delete' task.id %}" class="btn btn-danger link-to-page">Delete</a>
      <a href="{% url 'task:task-update' task.id %}" class="btn btn-secondary link-to-page">Update</a>
    </div>
  </div>

  <div class="task-details">
    <p><strong>Task Type:</strong> {{ task.task_type.name }}</p>
    <p><strong>Description:</strong> {{ task.description }}</p>
  </div>

  <div class="assignee-section">
    <h2>Assignees</h2>
    <div>
      {% if user in task.assignees.all %}
        <a href="{% url 'task:assign-delete' task.id %}" class="btn btn-danger assignee-action">Delete me from this task</a>
      {% else %}
        <a href="{% url 'task:assign-delete' task.id %}" class="btn btn-success assignee-action">Assign me to this task</a>
      {% endif %}

      {% if task.is_completed %}
        <a href="{% url 'task:mark-unmark' task.id %}" class="btn btn-danger">Unmark as done</a>
      {% else %}
        <a href="{% url 'task:mark-unmark' task.id %}" class="btn btn-success">Mark as done</a>
      {% endif %}
    </div>
  </div>

  <hr>

  <ul>
    {% for assignee in task.assignees.all %}
      <li class="assignee-item">{{ assignee.username }} ({{ assignee.first_name }} {{ assignee.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
