{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url "task:task-delete" task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url "task:task-update" task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Task Type: {{ task.task_type.name }}</p>
  <p>Description: {{ task.description }}</p>
  <h1>
    Assignees

  {% if user in task.assignees.all %}
    <a href="{% url "task:assign-delete" task.id %}" class="btn btn-danger link-to-page">
      Delete me from this task
    </a>
  {% else %}
    <a href="{% url "task:assign-delete" task.id %}" class="btn btn-success link-to-page">
      Assign me to this task
    </a>
  {% endif %}

  {% if task.is_completed %}
    <a href="{% url "task:mark-unmark" task.id %}" class="btn btn-danger link-to-page">
      Unmark as done
    </a>
  {% else %}
    <a href="{% url "task:mark-unmark" task.id %}" class="btn btn-success link-to-page">
      Mark as done
    </a>
  {% endif %}
  </h1>

  <hr>
  <ul>
    {% for assignee in task.assignees.all %}
      <li>{{ assignee.username }} ({{ assignee.first_name }} {{ assignee.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
