{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-8 form-container">
      <h1 class="form-title">{{ object|yesno:"Update,Create" }} Worker</h1>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Submit" class="btn btn-primary submit-button">
      </form>
      {% if object %}
        <a href="{{ worker.get_absolute_url }}" class="btn btn-dark mt-3">Cancel</a>
      {% else %}
        <a href="{% url 'task:worker-list' %}" class="btn btn-dark mt-3">Cancel</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
